USE [MiniInventory]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[LoyaltyPoints] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/10/2025 10:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Barcode] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StockQty] [decimal](18, 2) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 7/10/2025 10:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[SaleDate] [datetime] NOT NULL,
	[CustomerId] [int] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[DueAmount] [decimal](18, 2) NULL,
	[DiscountAmount] [decimal](18, 0) NULL,
	[VATAmount] [decimal](18, 0) NULL,
	[NetAmount] [decimal](18, 0) NOT NULL,
	[LoyaltyPointsUsed] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleDetail]    Script Date: 7/10/2025 10:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetail](
	[SaleDetailId] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NULL,
	[Price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/10/2025 10:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ApiUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [FullName], [Phone], [Email], [LoyaltyPoints], [IsDeleted]) VALUES (1, N'Md.Saifur Rahman', N'01518916147', N'anikrahman70945@gmail.com', 1, 0)
INSERT [dbo].[Customer] ([CustomerId], [FullName], [Phone], [Email], [LoyaltyPoints], [IsDeleted]) VALUES (2, N'Anik', N'01518916147', N'anikrahman70945@gmail.com', 0, 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [Name], [Barcode], [Price], [StockQty], [Category], [Status], [IsDeleted]) VALUES (1, N'Mango', N'mango_barcode', CAST(80.00 AS Decimal(18, 2)), CAST(9.00 AS Decimal(18, 2)), N'Fruit', 1, 0)
INSERT [dbo].[Product] ([ProductId], [Name], [Barcode], [Price], [StockQty], [Category], [Status], [IsDeleted]) VALUES (2, N'Milk', N'milk_barcode', CAST(100.00 AS Decimal(18, 2)), CAST(2.50 AS Decimal(18, 2)), N'Liquid', 1, 0)
INSERT [dbo].[Product] ([ProductId], [Name], [Barcode], [Price], [StockQty], [Category], [Status], [IsDeleted]) VALUES (3, N'Egg', N'egg_barcode', CAST(10.00 AS Decimal(18, 2)), CAST(185.00 AS Decimal(18, 2)), N'Food', 1, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([SaleId], [SaleDate], [CustomerId], [TotalAmount], [PaidAmount], [DueAmount], [DiscountAmount], [VATAmount], [NetAmount], [LoyaltyPointsUsed]) VALUES (3, CAST(N'2025-07-10T21:36:44.250' AS DateTime), NULL, CAST(645.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)), CAST(77.25 AS Decimal(18, 2)), CAST(0 AS Decimal(18, 0)), CAST(32 AS Decimal(18, 0)), CAST(677 AS Decimal(18, 0)), 10)
INSERT [dbo].[Sale] ([SaleId], [SaleDate], [CustomerId], [TotalAmount], [PaidAmount], [DueAmount], [DiscountAmount], [VATAmount], [NetAmount], [LoyaltyPointsUsed]) VALUES (4, CAST(N'2025-07-10T21:40:48.847' AS DateTime), 1, CAST(860.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)), CAST(303.00 AS Decimal(18, 2)), CAST(0 AS Decimal(18, 0)), CAST(43 AS Decimal(18, 0)), CAST(903 AS Decimal(18, 0)), 0)
INSERT [dbo].[Sale] ([SaleId], [SaleDate], [CustomerId], [TotalAmount], [PaidAmount], [DueAmount], [DiscountAmount], [VATAmount], [NetAmount], [LoyaltyPointsUsed]) VALUES (5, CAST(N'2025-07-10T21:44:56.707' AS DateTime), 1, CAST(150.00 AS Decimal(18, 2)), CAST(141.00 AS Decimal(18, 2)), CAST(7.05 AS Decimal(18, 2)), CAST(9 AS Decimal(18, 0)), CAST(7 AS Decimal(18, 0)), CAST(148 AS Decimal(18, 0)), 9)
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleDetail] ON 

INSERT [dbo].[SaleDetail] ([SaleDetailId], [SaleId], [ProductId], [Quantity], [Price]) VALUES (1, 3, 1, CAST(5.00 AS Decimal(18, 2)), CAST(70.00 AS Decimal(18, 2)))
INSERT [dbo].[SaleDetail] ([SaleDetailId], [SaleId], [ProductId], [Quantity], [Price]) VALUES (2, 3, 2, CAST(2.50 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[SaleDetail] ([SaleDetailId], [SaleId], [ProductId], [Quantity], [Price]) VALUES (3, 3, 3, CAST(5.00 AS Decimal(18, 2)), CAST(9.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SaleDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash]) VALUES (1, N'admin', N'JAvlGPq9JyTdtvBO6x2llnRI1+gxwIyPqCKAn3THIKk=')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Product__177800D351DBC9D7]    Script Date: 7/10/2025 10:24:12 PM ******/
ALTER TABLE [dbo].[Product] ADD UNIQUE NONCLUSTERED 
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SaleDetail]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[SaleDetail]  WITH CHECK ADD FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sale] ([SaleId])
GO
